<h2>Welcome to {{hotelName}}</h2>
<h3>Are rooms hidden ?</h3>
<div [ngStyle]="{color: 'red'}">Yeşiil</div>

<!-- {{word$ | async | json}} -->

<div *ngIf="hideRooms">
    <hinv-rooms-list [rooms]="roomList"
    (selectedRoom)="selectRoom($event)"
    [title]="title"></hinv-rooms-list>
</div>
<button (click)="toggle()">Toggle</button>
<button class="btn btn-outline-dark" (click)="addRoom()">Add New Room</button>

<h3>
    {{error$ | async}}
</h3>

<h4>
    {{wordName$ | async}} : {{wordDefinition$ | async}}
</h4>

<router-outlet></router-outlet>


